html {
	scroll-behavior: smooth;
  }
body
{
	background-repeat: no-repeat; 
	background-size: 100% 100%;
}
/* Styling Header */
header
{ 
	overflow:hidden; 
} 

#top-header{ 
		
	text-align: left; 
	height: 100px; 
} 
/* Styling Navigation Menu */
#menu
{ 
	float: left; 
	margin-top:50px; 
} 	
#menu ul
{ 
	text-align:left; 
	margin: none; 
	background:transparent;
	font-size:1.5vw; 
} 
#menu li
{ 
	display:inline;
	padding: none; 
	margin: none; 
	outline:none;
} 
#menu li a, #menu li span
{ 
	display:inline; 
	padding: 0em 1.5em; 
	text-decoration: none; 
	font-weight: 600; 
	text-transform: uppercase; 
	line-height: 60px;
} 
#menu li a
{ 	
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s; 
	color:white; 
} 
#menu li:hover a, #menu li span
{ 
	background:transparent;
	color: red;  
	text-decoration: none; 
} 
/* Styling Header text */
#text
{ 
	position: absolute;
	top: 40px;
	right:20px;
    font-family: 'Roboto'; 
    color:white; 
	font-size:3vw;
	}
/* Styling Main content Section 1 */
#welcome 
{   
	overflow: hidden; 
	width: 500px; 
	margin: 0px auto;
} 	
#welcome .title
{ 
	margin-top:50px; 
	padding: 20px; 
	text-align: center; 
	color: #4CAF50;
	font-size:2vw;
} 
#welcome p
{ 
	margin-bottom: 40px; 
	text-align:center;
	font-size:1.5vw;
	color: wheat;

} 
/* Styling Main content Section 2 */
.container
{	 
	margin:auto; 
	width:1200px;
} 
#section-2{ 
	overflow: hidden; 
	margin-top: 400px; 
	padding-top: 1em; 
	font-size:1.5vw;
	width:100%;
	color: aliceblue;
	
} 
.row #column1
{  
	
	text-align:center;
	text-justify: inter-word; 
	padding: 80px 40px;
	color: lightyellow;
	
}
.column-title h2
{ 
	margin: 1em 0em; 
	font-size:2vw; 
	text-align: center;
} 
.button { 
	text-decoration:none; 
	text-align: center; 
	display: inline-block; 
	font-size:1vw;
	background-color: #4CAF50; 
	color: white; 
	border: 2px solid #4CAF50; 
	border-radius: 16px;
	padding: 16px 32px; 
	margin: 4px 2px; 
	-webkit-transition-duration: 0.4s; 
	transition-duration: 0.4s; 
	cursor: pointer; 
} 
	
.button:hover { 
	background-color: white; 
	color: #4CAF50; 
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 
/*		 Styling Footer	 */

/*** Adding Styles to  Details ***/
.company-details
{ 
	margin-bottom: 0em;
    width:100%;
	text-align:center;
	overflow: hidden; 
	padding: 3em 0em; 
	background: black;
	color:rgb(19, 145, 204); 
}
#footer #col1
{
 float: left;
 width:31%;
 padding:0px 0px 0px 10px;
}
#footer #col2
{
	float: left;
	width:31%;
	padding:0px 0px 0px 10px;
}
#footer #col3
{
	float: left;
	width:31%;
	padding:0px 0px 0px 10px;
}
#footer #col1 a
{
	color:rgb(19, 145, 204);
	text-decoration:none;
}
#footer #col3 a
{
	color:rgb(19, 145, 204);
	text-decoration:none;
}

/* Styling Social Icons */
.contactback
{ 
	border-top: 20px solid black; 
	margin-top: 0em; 
	width:100%;
	text-align:center;
	background: black;	
} 

ul.contact
{ 
	overflow: hidden; 
	padding: 3em 0em; 
} 
ul.contact li 
{
	display: inline-block;
	padding: 0.2em 0.2em 0em 0.2em ;
}
.contactback li:hover
{
  opacity:2.5;
}

ion-icon {
	color: rgb(19, 145, 204);
}
 .icon-0:hover { 
	transform: translateY(-10px); 
	transition: transform 0.3s;
	cursor: pointer;

}
.icon-0:active{	transform: translateY(1px);	}
.icon-1:hover { 
	transform: translateY(-10px); 
	transition: transform 0.3s;
}
.icon-1:active{	transform: translateY(1px);	}
.icon-2:hover { 
	transform: translateY(-10px); 
	transition: transform 0.3s;
}
.icon-2:active{	transform: translateY(1px);	}